@charset "UTF-8";

/*font-family: 'Open Sans', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}


body{
    font-family: "Open Sans", "sans-serif","helvetica","arial";
    width: 100%;
}

.navbar-brand{

    font-size: 20px;
    font-weight: bold;
    display: block;
}

.navbar-nav{
    text-transform: uppercase;
    margin:0;
    border:0;
}

img{
    
    max-width: 100%;
    max-height: 100%;
}

.container-top  {  
    
    .header{

            background-image:url(img/hotel-pool3.png);
            background-size:cover;
            background-repeat: no-repeat;
            -moz-background-size: cover;
            -o-background-size: cover;
            -webkit-background-size: cover;
            height: 100vh;
            position: relative;

        }


}

.container-fluid{
    background: grey;
}


.banner-inner{
    padding: 0px;
    font-size: 30px;
    font-weight: 100;

}
.banner-caption{
    text-align: center;
    margin-top: -300px;
    display: block;
    font-weight: bold;
    color: #fff;
    position:absolute;
    right: 300px;
    left: 300px;

    
} 



a, a:hover {
    text-decoration: none;

}
h1{
    padding-top : 30px;
    font-weight : 100px;
}



h2,p{
color: #fff;
}
.destinations{
    margin-top: 30px;
    padding-top: 30px;
    background: grey;
}

h5{
    color: black;
    font-weight: 50px;
}

.nav{
    background: none;
}


.showcase-right p{
    color: black;
}

/*--team--*/


.bg-team h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    color: #323232;
    text-align: center;
    margin-top: 4%;
}
.team
{
    border: 2px solid #ededed;
    text-align: center;
    padding: 15% 15% 15% 15%;
}
.team img
{
    border-radius: 60%;
    width: 100%;
    Height: 100%;
    margin-top: 10px;

}
.team h5
{
    font-size: 19px;
    color: #323232;
    font-weight:600
}
.team h6
{
    color: #777777;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 12px;
}

.footer-social-icons{
    width: 100%;
    height: auto;
    margin:auto;
}

.footer-social-icons ul{
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.footer-social-icons ul li{
    display:inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    border-radius: 30%;
    background: rgb(33, 133, 226);
}

.footer-social-icons ul li a{
    color: #ffffff;
    font-size: 25px;
    display: block;
}

.footer-social-icons ul li a i{
    line-height: 50px;
}
.container-fluid-footer ul li{
    list-style: none;
    display: inline-block;
   
}

.container-fluid-footer ul li a{
    color: #010101;
    padding: 22px 30px;
    height:30px;
    display: block;
}

